<strong>Sign up here!</strong>

<div class="form-wrapper">
    <%= form_for(@user) do |f| %>

        <div class="form-field">
            <%= f.label :first_name %>:<br>
            <%= f.text_field :first_name %><br><br>
        </div>

        <div class="form-field">
            <%= f.label(:email, "Email address: ") %><br>
            <%= f.email_field :email %><br><br>
        </div>

        <div class="form-field">
            <%= f.label :password %>:<br>
            <%= f.password_field :password %><br><br>
        </div>

        <%= f.submit "Sign Up", class: "submit" %>

    <% end %>
</div>

<%= link_to "Back to homepage", root_path %>
<br><br>