<!DOCTYPE html>
<html>
  <head>
    <title>HowManyMarathons</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background">
      <div class="wrapper">
        <%= image_tag "how-many.png", class: "how-many" %>
        <%= image_tag "during-desk.png", class: "during" %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
